* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: beige;

}

.container{
    width:300px;
    margin:50px auto;
    background-color: rgb(235, 170, 74);
    padding:20px;
    border-radius: 10px;
    box-shadow:0px 0px 10px black;
}

input{
    width:100%;
    margin-bottom: 15px;
    padding:8px;
}

button{
    width:100%;
    height:50px;
    background-color: blue;
    color:white;
    border:none;
    padding:10px;
    cursor: pointer;
}

button:hover{
    background-color: green;
    color:black;
}